@page "/d1p1"
@using CardGameWebApp.Client.Components

<h1>Draw one play one</h1>

<div>
	<Deck Name="Draw One Play One" NumberOfCards="1"></Deck>
	<Card Title="Pass" Illustration="Pass" Classification="">Do nothing.</Card>
	<Deck Name="Discard Pile" FaceUp="true"></Deck>
</div>