@page "/"

<h1>Card Game Description Language</h1>

<p>This site will serve as the main interface for the GDL. To test implementation, please pick a simple game from the list:</p>

<ul>
	<li>
		<a href="d1p1">
			Draw one play one
		</a>
	</li>
</ul>