@using CardGameWebApp.Shared
<div class="playcard">
	<ActionPrompt Actions=@Actions>
		@{
			var card = library.GetCard(Template);
		}
		<h3>@card.Name</h3>
		<img class="illustration" src="/illustrations/@(card.Illustration).png" />
		<p>@card.Classification</p>
		<p class="description">@card.Description</p>
	</ActionPrompt>
</div>

@code {
	private CardLibrary library = CardLibrary.Instance;

	[Parameter]
	public string Template { get; set; } = "?";

	[Parameter]
	public Func<IEnumerable<CallBackAction>> Actions { get; set; }
}
