<div class="card">
	<h3>Test</h3>
	<div class="illustration"></div>
	<p>Classification</p>
	<p class="description">This is a longer description than usually, to see how it will be formatted.</p>
</div>

@code {

}
