@using CardGameWebApp.Shared
<div class="playcard">
	<ActionPrompt Actions=@Actions>
		<h3>@Title</h3>
		<img class="illustration" src="/illustrations/@(Illustration).png" />
		<p>@Classification</p>
		<p class="description">@ChildContent</p>
	</ActionPrompt>
</div>

@code {
	[Parameter]
	public string Title { get; set; } = "Untitled";

	[Parameter]
	public string Illustration { get; set; } = "Pass";

	[Parameter]
	public string Classification { get; set; } = "Unclasified";
	
	[Parameter]
	public Func<IEnumerable<CallBackAction>> Actions { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

}
