@using CardGameWebApp.Shared
<div class="playcard">
	<ActionPrompt Actions=@Actions>
		@{
			var card = library.GetCard(Template);
		}
		<h3>@(card.Name ?? Template)</h3>
		@if(card.Illustration!=null)
		{
			<img class="illustration" src="/illustrations/@(card.Illustration).png" />
		}
		@if(card.Classification != null)
		{
		<p>@card.Classification</p>	
		}
		@if(card.Description != null)
		{
		<p class="description">@card.Description</p>	
		}
	</ActionPrompt>
</div>

@code {
	private CardLibrary library = CardLibrary.Instance;

	[Parameter]
	public string Template { get; set; } = "?";

	[Parameter]
	public Func<IEnumerable<CallBackAction>> Actions { get; set; }
}
