@using CardGameWebApp.Shared

<div class="playcard @(IsEmpty ? "empty" : "deck")">
	<ActionPrompt Active="@(!IsEmpty)" Actions=@Actions>
		@if (!FaceUp && !IsEmpty)
		{
			<div class="background" style="background-color: @Color;">
				@if (ChildContent != null)
				{
					@ChildContent
				} 
				else
				{
					<p>@Name</p>
				}
			</div>
		}
		else
		{
			<div class="background">
				@if (ChildContent != null)
				{
					@ChildContent
				} 
				else
				{
					<p>@Name</p>
				}
			</div>
		}
	</ActionPrompt>
</div>

@code {
	[Parameter]
	public string Color { get; set; } = "lightblue";

	[Parameter]
	public string Name { get; set; } = "";

	[Parameter]
	public bool FaceUp { get; set; } = true;

	[Parameter]
	public int NumberOfCards { get; set; } = 0;

	[Parameter]
	public RenderFragment ChildContent { get; set; } = null;

	[Parameter]
	public Func<IEnumerable<CallBackAction>> Actions { get; set; }

	public bool IsEmpty => NumberOfCards <= 0;
}
