@using CardGameWebApp.Shared.DTOs
@inject IJSRuntime JS
@inject HttpClient Http

<div class="highlight-editor">
    <textarea id="editing" class="editing @intel" wrap="off" spellcheck="false" @bind="@Value" @bind:event="oninput" onscroll="sync_scroll();" @onkeydown="KeyDown" @onkeyup="Reset"></textarea>
    <pre id="highlighting" class="highlighting" aria-hidden="true" @onclick="Reset">
      <code class="language-cgdl">@((MarkupString)HighlightedCGDL)</code>
    </pre>
</div>

@code {
    // Inspiration:
    // https://css-tricks.com/creating-an-editable-textarea-that-supports-syntax-highlighted-code/    

    private Highlighter highlighter = new Highlighter();
    private string source;
    private string HighlightedCGDL;
    private string intel;

    private void KeyDown(KeyboardEventArgs args)
    {
        if (args.CtrlKey)
        {
            intel = "intel";
        }
    }

    private void Reset()
    {
        intel = "";
    }


    public string Value
    {
        set
        {
            source = value;
            HighlightedCGDL = Highlight(value);
            JS.InvokeVoidAsync("sync_scroll");
            this.StateHasChanged();
        }
        get
        {
            return source;
        }
    }

    public async Task UpdateConcepts(string url)
    {
        var concepts = await Http.GetFromJsonAsync<IEnumerable<ConceptDTO>>(url);
        var dict = new Dictionary<string, ConceptDTO>();
        foreach (var concept in concepts)
        {
            dict[concept.Name] = concept;
        }
        highlighter.KnownConcept = dict;
    }


    private string Highlight(string input)
    {
        return highlighter.Highlight(input);
    }
}
