<BSModal @ref="modal" IsStaticBackdrop="true" DataId="selectCardModal">
    <Header>@(Title??"")</Header>
    <Content>
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <p>@(Description??"Are you sure?")</p>
        }
    </Content>
    <Footer Context="modal">
        <BSButton Color="BSColor.Primary" @onclick="CmdYes">@(YesLabel??"Yes")</BSButton>
        @if (ShowNoLabel)
        {
        <BSButton Color="BSColor.Secondary" @onclick="CmdNo">@(NoLabel??"No")</BSButton>    
        }
    </Footer>
</BSModal>
@code {
    private BSModal modal;
    private string Description = string.Empty;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null;

    [Parameter]
    public string YesLabel { get; set; }

    [Parameter]
    public string NoLabel { get; set; }

    [Parameter]
    public bool ShowNoLabel { get; set; } = true;

    [Parameter]
    public Action<bool> OnSelect { get; set; }

    public async Task ShowInfo(string information, string title)
    {
        Description = information;
        OnSelect = (r) => { };
        Title = title;
        YesLabel = "OK";
        ShowNoLabel = false;
        await modal.ShowAsync();
    }

    public async Task ShowDialog(string description, Action<bool> resultCB, string title = null, string yesLabel = null, string noLabel = null)
    {
        Description = description;
        OnSelect = resultCB;
        Title = title;
        YesLabel = yesLabel;
        NoLabel = noLabel;
        await modal.ShowAsync();
    }

    public void CmdYes()
    {
        modal.HideAsync();
        OnSelect.Invoke(true);
    }
    
    public void CmdNo()
    {
        modal.HideAsync();
        OnSelect.Invoke(false);
    }
}
