@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.content {
    padding-top: 4rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.playcard {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 275px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

    .playcard.empty {
        border-style: dashed;
    }

    .playcard .background {
        width: 187px;
        height: 263px;
        margin-top: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 5px;
    }

.playcard.selected {
    border: 5px solid blue;
}

.playcard .background h1 {
    font-style: italic;
    text-align: center;
}

    .playcard .illustration {
        display: block;
        border: 1px solid black;
        
        height: 100px;
    }

    .playcard h3 {
        margin-bottom: 0px;
        font-size: 12pt;
    }

    .playcard .description {
        overflow-y: hidden;
        width: 187px;
    }

    .playcard .cardbody {
    }

    .playcard .card-actions {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 198px;
        height: 273px;
        background-color: rgba(255,255,255,0.8);
        z-index: 2;
        cursor: pointer;
        padding: 5px;
    }

        .playcard .card-actions.transparent {
            background-color: rgba(0,0,0,0);
        }
    
        .playcard .card-actions > button {
            width: 100%;
            margin-bottom: 5px;
        }

        .playcard .card-actions .heading {
            margin-bottom: 15px;
        }

        .playcard .card-actions .heading > h3 {
            display: inline;
            font-size: 18pt;
        }

span.token {
    font-weight: 600;
}

    span.token.concept {
        color: blue;
        cursor: help;
    }

        span.token.concept.recognized {
            text-decoration: dotted lightblue underline;
        }

    span.token.keyword {
        color: green;
    }

    span.token.comment {
        color: green;
    }

    span.token.tabulator:first-child:before {
        content: '';
        height: 26px;
        width: 1px;
        border-left: 1px dotted grey;
        position: absolute;
    }

    br + span.token.tabulator:before {
        content: '';
        height: 26px;
        width: 1px;
        border-left: 1px dotted grey;
        position: absolute;
    }

    span.token.literal {
        color: darkorange;
    }

    span.token.symbol {
        font-weight: 700;
    }

    span.token > span.intel {
        font-size: 8pt !important;
        color: grey;
        float: right;
        padding-left: 5px;
        padding-right: 5px;
        
    }

        span.token > span.intel > span.type.command {
            font-size: 8pt !important;
            color: black;
        }

        span.token > span.intel > span.type {
            font-size: 8pt !important;
            color: blue;
            
        }


/* For the highlight editor */
.highlight-editor {
    display: grid;
}

#editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 12pt;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 2;
}

#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    
    padding: 10px;
    border: 0;
    /*width: calc(100% - 32px);*/
    height: 500px;
    grid-area: 1/1;
    overflow: auto;
    /*white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* Move the textarea in front of the result */
#editing {
    z-index: 2;
    resize: none;
    color: transparent;
    background: transparent;
    caret-color: black;
    border: 1px solid black;
    border-radius: 0px;
}

#editing:active {
    border-radius: 0px;
}

#editing.intel {
    z-index: 0;
}

#highlighting {
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.offcanvas-end {
    width: calc(100% - 32px);
}

.tooltip-inner {
    max-width: 350px;
}

.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.top-toolbar {
    border: 1px solid black;
    border-radius: 10px;
    border-start-end-radius: 0px;
    border-start-start-radius: 0px;
    background-color: #00000050;
    position: fixed;
    top: 50px;
    padding: 5px;
}

.top-toolbar > .btn {
    border-start-end-radius: 0px;
    border-start-start-radius: 0px;
}

.conceptinfo {
    text-align: left;
}